* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    min-height: 400px;
}

main, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

nav {
    display: flex;
    gap: 10px;
    
}

nav .logo {
    max-width: 1000px;
    margin-left: 275px;
    flex: .8;
    margin-top: 20px;
    margin-bottom: 75px;
}


nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-right: 50px;
}

.image-box {
    height: 250px; 
    width: 600px;
    background-color: rgb(154, 145, 154);
}

.image-box p {
    text-align: center;
    margin-top: 50px;
}

.main-content {
    display: flex;
    width: 1600px;
    margin: 0 auto;
}

.main-content h1 {
    font-size: 48px;
}

.main-content p {
    font-size:  18px;
}

.left-content, .right-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    height: 250px;
}


.left-inner-wrapper {
    margin-left: 120px;
    width: 450px;
}

.main-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    width: 85px;
    height: 25px;
    color: white;
    margin-top: 15px;
}